/* Main color */
:root {
  /* primary */
  --primary: #665BAF;
  --primary-hover: #5C50A5;
  --primary-txt: #6257AA;
  --primary-txt-head: #2F2956;
  --primary-hover-ui: #E7E6FE;
  --primary-ui: #F2F1FD;

  /* secondary */ 
  --secondary: #AF6C9B;
  --secondary-hover: #A55F91;
  --secondary-txt: #9B5A88;
  --secondary-txt-head: #5B204C;
  --secondary-hover-ui: #F8E2F0;
  --secondary-ui: #FCEEF7;

  /* neutral */ 
  --neutral: #8B8D98;
  --neutral-hover: #7E818B;
  --neutral-txt-low: #767B84;
  --neutral-txt-high: #1C2024;
  --neutral-hover-ui: #E8E8EC;
  --neutral-ui: #F0F0F3;

  /* success */ 
  --success: #22C55E;
  --success-hover: #00B250;
  --success-txt: #118D57;
  --success-txt-head: #065E49;
  --success-hover-ui: #8BEE9C;
  --success-ui: #DBF5DB;

  /* error */ 
  --error: #F94346;
  --error-hover: #EA2931;
  --error-txt: #C31324;
  --error-txt-head: #6C0421;
  --error-hover-ui: #FECDCE;
  --error-ui: #FFE9EA;

  --black: #1C2024;
  --white: #ffffff;
}

/* Main class used in Him2Her */
.container {
  max-width: 1322px !important;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: 1350px !important;
    padding-right: 35px;
    padding-left: 35px;
  }
}

.heading1 {
  display: block;
  font-size: 72px;
  line-height: 88px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.heading2 {
  display: block;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.heading3 {
  display: block;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.heading4 {
  display: block;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.heading5 {
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.heading6 {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.body1 {
  font-size: 18px;
  line-height: 28px;
}

.body2 {
  font-size: 16px;
  line-height: 24px;
}

.body3 {
  font-size: 14px;
  line-height: 20px;
}

.bg-linear {
  background: linear-gradient(238deg, #faf7ef 0%, #f4f6fc 99.66%);
}

.bg-gradient {
  background: linear-gradient(180deg, #35CFCF 0%, #104E97 100%);
}

.shadow-md {
  box-shadow: 0px 1px 7px 0px rgba(72, 95, 119, 0.12);

  &:hover {
    box-shadow: 0px 5px 20px 1px rgba(72, 95, 119, 0.18);
  }
}

.shadow-lg {
  box-shadow: 0px 1px 7px 0px rgba(72, 95, 119, 0.15);

  &:hover {
    box-shadow: 0px 5px 20px 1px rgba(72, 95, 119, 0.22);
  }
}

@media (max-width: 1023.98px) {
  .heading1 {
    font-size: 52px;
    line-height: 60px;
  }

  .heading2 {
    font-size: 44px;
    line-height: 52px;
  }
}

@media (max-width: 767.98px) {
  .heading1 {
    font-size: 48px;
    line-height: 56px;
  }

  .heading2 {
    font-size: 36px;
    line-height: 44px;
  }

  .heading3 {
    font-size: 32px;
    line-height: 40px;
  }

  .button-main {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 16px;
    border-radius: 4px;
  }
}