/* Main color */
:root {
  /* primary */
  --primary: #665BAF;
  --primary-hover: #5C50A5;
  --primary-txt: #6257AA;
  --primary-txt-head: #2F2956;
  --primary-hover-ui: #E7E6FE;
  --primary-ui: #F2F1FD;

  /* secondary */ 
  --secondary: #AF6C9B;
  --secondary-hover: #A55F91;
  --secondary-txt: #9B5A88;
  --secondary-txt-head: #5B204C;
  --secondary-hover-ui: #F8E2F0;
  --secondary-ui: #FCEEF7;

  /* neutral */ 
  --neutral: #8B8D98;
  --neutral-hover: #7E818B;
  --neutral-txt-low: #767B84;
  --neutral-txt-high: #1C2024;
  --neutral-hover-ui: #E8E8EC;
  --neutral-ui: #F0F0F3;

  /* success */ 
  --success: #22C55E;
  --success-hover: #00B250;
  --success-txt: #118D57;
  --success-txt-head: #065E49;
  --success-hover-ui: #8BEE9C;
  --success-ui: #DBF5DB;

  /* error */ 
  --error: #F94346;
  --error-hover: #EA2931;
  --error-txt: #C31324;
  --error-txt-head: #6C0421;
  --error-hover-ui: #FECDCE;
  --error-ui: #FFE9EA;

  --black: #1C2024;
  --white: #ffffff;
}

/* Main class used in Him2Her */
.container {
  max-width: 1350px !important;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    padding-right: 35px;
    padding-left: 35px;
  }
}

[class^="text-head"], [class*=" text-head"] {
  display: block;
}

@media (max-width: 1023.98px) {
  .text-head1 {
    font-size: 52px;
    line-height: 60px;
  }

  .text-head2 {
    font-size: 44px;
    line-height: 52px;
  }

  .text-head3 {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 639.98px) {
  .text-head1 {
    font-size: 32px;
    line-height: 40px;
  }

  .text-head2 {
    font-size: 24px;
    line-height: 32px;
  }

  .text-head3 {
    font-size: 24px;
    line-height: 32px;
  }

  .text-head4 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-head5 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-head6 {
    font-size: 12px;
    line-height: 20px;
  }

  .text-body1 {
    font-size: 16px;
    line-height: 24px;
  }
}