/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--neutral-txt-high);
    background-color: var(--white);
    scroll-behavior: smooth;
}

html {
    &:has(body.scroll-locked) {
        overflow: hidden;

        @media (min-width: 1024px) {
            padding-right: 15px;

            .fixed {
                margin-right: 15px;
            }
        }
    }
}

body {
    &.overflow-unset {
        overflow-x: unset;
    }

    &.lg\:overflow-unset {
        @media (min-width: 1024px) {
            overflow-x: unset;
        }
    }
}

.blind,
caption span,
legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

ol,
ul,
li {
    list-style: none;
}

select {
    appearance: none;
    outline: none;
}

input[type="file"] {
    outline: none;
    border: none !important;

    &::-webkit-file-upload-button {
        display: none;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}