/* faqs */
.faqs {
    .list-faqs {
        .faq-item {
            .answer {
                display: none;
            }

            &.active {
                .icon-arrow {
                    transform: rotate(-180deg);
                }
            }

            &:last-child {
                border: none;
            }
        }
    }
}