/* slider */
/*slider freelancer3*/
.slider {
    &.-style-3 {
        .slider-bg {
            .icon {

                &-link,
                &-like {
                    animation: slide-1 20s linear 0s infinite;
                }

                &-heart {
                    animation: slide-2 20s linear 0s infinite;
                }
            }
        }
    }

    &.-style-9 {
        animation-name: uicoreZoomOutUp, uicoreFadeIn !important;
        animation-duration: 1.9s;
        animation-timing-function: cubic-bezier(.22, 1, .36, 1), cubic-bezier(0, 0, .2, 1);
    }

    &.-style-reverse {
        .slider-bg {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

@keyframes uicoreZoomOutUp {
    0% {
        transform: matrix3d(1.2, 0, 0, 0, 0, 1.03, .34, -.0003, 0, -.34, .94, 0, 0, 60, 0, 1);
    }
    
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

@keyframes uicoreFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}