@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4jigkj');
  src:  url('fonts/icomoon.eot?4jigkj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4jigkj') format('truetype'),
    url('fonts/icomoon.woff?4jigkj') format('woff'),
    url('fonts/icomoon.svg?4jigkj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grass:before {
  content: "\e937";
}
.icon-layers:before {
  content: "\e936";
}
.icon-checkmark-square .path1:before {
  content: "\e934";
  color: rgb(102, 91, 175);
}
.icon-checkmark-square .path2:before {
  content: "\e935";
  color: rgb(255, 255, 255);
}
.icon-plus:before {
  content: "\e900";
}
.icon-information-circle:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e902";
}
.icon-agreement:before {
  content: "\e903";
}
.icon-alert:before {
  content: "\e904";
  color: #f94346;
}
.icon-arrow-left-01-round:before {
  content: "\e905";
}
.icon-arrow-left-02-round:before {
  content: "\e906";
}
.icon-arrow-right-01-round:before {
  content: "\e907";
}
.icon-arrow-right-02-round:before {
  content: "\e908";
}
.icon-arrow-up-01-round:before {
  content: "\e909";
}
.icon-arrow-up-02-round:before {
  content: "\e90a";
}
.icon-award-04:before {
  content: "\e90b";
}
.icon-birthday-cake:before {
  content: "\e90c";
}
.icon-calendar-03:before {
  content: "\e90d";
}
.icon-calendar-love-02:before {
  content: "\e90e";
}
.icon-call:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-checkmark-circle:before {
  content: "\e911";
  color: #22c55e;
}
.icon-clock:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-dollar-circle:before {
  content: "\e914";
}
.icon-facebook:before {
  content: "\e915";
  color: #fff;
}
.icon-favourite:before {
  content: "\e916";
}
.icon-female:before {
  content: "\e917";
}
.icon-fire:before {
  content: "\e918";
}
.icon-flower-pot:before {
  content: "\e919";
}
.icon-gift:before {
  content: "\e91a";
}
.icon-gift-card:before {
  content: "\e91b";
}
.icon-healthcare:before {
  content: "\e91c";
}
.icon-idea:before {
  content: "\e91d";
}
.icon-lamp:before {
  content: "\e91e";
}
.icon-location:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e920";
}
.icon-male:before {
  content: "\e921";
}
.icon-manager:before {
  content: "\e922";
}
.icon-messenger:before {
  content: "\e923";
}
.icon-pine:before {
  content: "\e924";
}
.icon-quote:before {
  content: "\e925";
}
.icon-safe:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e927";
}
.icon-shopee:before {
  content: "\e928";
}
.icon-square-lock:before {
  content: "\e929";
}
.icon-tiktok:before {
  content: "\e92a";
}
.icon-trash:before {
  content: "\e92b";
}
.icon-upload:before {
  content: "\e92c";
}
.icon-user:before {
  content: "\e92d";
}
.icon-user-circle:before {
  content: "\e92e";
}
.icon-view:before {
  content: "\e92f";
}
.icon-view-off:before {
  content: "\e930";
}
.icon-zalo .path1:before {
  content: "\e931";
  color: rgb(255, 255, 255);
  opacity: 0.28;
}
.icon-zalo.text-secondary .path1:before {
  color: rgb(175, 108, 155);
  opacity: 1;
}
.icon-zalo .path2:before {
  content: "\e932";
  color: rgb(0, 26, 51);
  opacity: 0.12;
}
.icon-zalo .path3:before {
  content: "\e933";
  color: rgb(255, 255, 255);
}
