.clip-thumb {
    >div {
        &:first-child {
            clip-path: rect(0 calc(33.33% - 12px) 100% 0 round 20px);
        }

        &:last-child {
            clip-path: rect(0 100% 100% calc(33.33% + 12px) round 20px);
        }

        @media (max-width: 640px) {
            &:first-child {
                clip-path: rect(0 calc(33.33% - 6px) 100% 0 round 12px);
            }

            &:last-child {
                clip-path: rect(0 100% 100% calc(33.33% + 6px) round 12px);
            }
        }
    }
}