/* button components */
.button-main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    transition: all ease-out 0.5s;

    &.p-0 {
        padding: 0;
    }

    &.whitespace-normal {
        white-space: unset;
    }

    &.small {
        padding: 0.5rem 1rem;
    }

    &.disabled {
        background-color: var(--neutral-ui);
        color: var(--neutral-txt-low);
        pointer-events: none;
    }

    &.bg-white {
        background-color: var(--white);
        color: var(--primary-txt);

        &:hover {
            background-color: var(--primary-hover);
            color: var(--white);
        }
    }

    &.bg-secondary {
        background-color: var(--secondary);

        &:hover {
            background-color: var(--secondary-hover);
        }
    }

    &.bg-secondary-ui {
        background-color: var(--secondary-ui);
        color: var(--neutral-txt-high);

        &:hover {
            background-color: var(--secondary-hover-ui);
            color: var(--neutral-txt-high);
        }
    }

    &.bg-primary-ui {
        background-color: var(--primary-ui);
        color: var(--primary-txt-head);

        &:hover {
            background-color: var(--primary-hover-ui);
            color: var(--neutral-txt-high);
        }
    }

    &.bg-error {
        background-color: var(--error);

        &:hover {
            background-color: var(--error-txt-head);
        }
    }

    &:hover {
        background-color: var(--primary-hover);
        color: var(--white);
    }

    &.select-block,
    &.btn-clear-filter,
    &.chip {
        font-weight: 400;
        cursor: pointer;
        
        @media (max-width: 639.98px) {
            gap: 12px;
            padding: 8px 12px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    @media (max-width: 639.98px) {
        &.max-sm\:px-3 {
            gap: 8px;
            padding-left: 12px;
            padding-right: 12px;
        }

        &.small {
            padding: 0.25rem 0.5rem;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &.btn-tiktok-link {
        background-color: transparent;
        color: var(--neutral-txt-high);
        border: 1px solid var(--primary);

        .icon-tiktok {
            color: var(--neutral-txt-high);
            transition: .5s ease-out;
        }

        &:hover {
            background-color: var(--primary);
            color: var(--white);

            .icon-tiktok {
                color: var(--white);
            }
        }
    }

    &.btn-facebook-link {
        background-color: transparent;
        color: var(--neutral-txt-high);
        border: 1px solid var(--primary);

        .icon-facebook {
            &::before {
                color: #1877F2;
                transition: .5s ease-out;
            }
        }

        &:hover {
            background-color: var(--primary);
            color: var(--white);

            .icon-facebook {
                &::before {
                    color: var(--white);
                }
            }
        }
    }
}

.button-toggle {
    position: relative;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--neutral-txt-low);
    transition: all ease 0.4s;

    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--white);
        transition: all ease 0.3s;
    }

    &.active {
        background-color: var(--primary);

        &::before {
            transform: translateX(calc(100% - 2px));
        }
    }
}

.button-wishlist {
    &.active {
        background-color: var(--primary-ui);
        
        .icon-favourite {
            display: block;
            animation: animateTop 0.3s ease;
        }
        
        .hgi {
            display: none;
        }
    }
}

.button-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 2;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px 0px #0000000A;
    opacity: 0;
    transform: translateY(40px);
    transition: .4s ease;

    &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    // .progress-circle {
    //     transform: rotate(-90deg);
    // }

    // circle {
    //     fill: none;
    //     stroke-width: 4;
    // }

    // circle.bg {
    //     stroke: var(--primary-hover-ui);
    // }

    // circle.progress {
    //     stroke: var(--primary);
    //     stroke-dasharray: 188; /* 2πr = 2*π*44 ≈ 188 */
    //     stroke-dashoffset: 188; /* Bắt đầu 0% */
    //     transition: stroke-dashoffset 0.2s linear;
    // }

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: conic-gradient(#665BAF 0%, #665BAF 0%, #E7E6FE 0%);
        transition: background 0.2s linear;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: var(--white);
        border-radius: 50%;
    }
}

@keyframes animateTop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}