/* button components */
.button-main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all ease-out 0.5s;

    &.disabled {
        background-color: var(--neutral-ui);
        color: var(--neutral-txt-low);
        pointer-events: none;
    }

    &.bg-white {
        background-color: var(--white);
        color: var(--primary-txt);

        &:hover {
            background-color: var(--primary-hover);
            color: var(--white);
        }
    }

    &.bg-secondary-ui {
        background-color: var(--secondary-ui);
        color: var(--neutral-txt-high);

        &:hover {
            background-color: var(--secondary-hover-ui);
            color: var(--neutral-txt-high);
        }
    }

    &.bg-primary-ui {
        background-color: var(--primary-ui);
        color: var(--primary-txt-head);

        &:hover {
            background-color: var(--primary-hover-ui);
            color: var(--neutral-txt-high);
        }
    }

    &.bg-error {
        background-color: var(--error);

        &:hover {
            background-color: var(--error-txt-head);
        }
    }

    &:hover {
        background-color: var(--primary-hover);
        color: var(--white);
    }
}