/* Swiper */
.swiper {
    cursor: grab;
    user-select: none;

    &-slide {
        height: unset !important;
    }

    &.overflow-unset {
        overflow: unset;
    }
}

/* Swiper Navigation */
.section-swiper-navigation {
    .custom-button {
        &-prev,
        &-next,
        &-prev-two,
        &-next-two {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            color: var(--primary);
            background-color: var(--primary-ui);
            width: 56px;
            height: 56px;
            border-radius: 50%;
            transition: all ease 0.5s;
    
            &.relative {
                position: relative !important;
                top: unset !important;
                left: unset !important;
                right: unset !important;
                bottom: unset !important;
                transform: unset !important;
            }
    
            &:hover {
                background-color: var(--primary);
                color: var(--white);
            }
    
            &.swiper-button-disabled {
                cursor: default;
                color: var(--neutral-txt-low);
                background-color: var(--neutral-ui);
            }
    
            @media (max-width: 767.98px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &.bg-neutral-ui {
        .custom-button {
            &-prev,
            &-next {
                background-color: var(--primary-hover-ui);

                &:hover {
                    background-color: var(--primary);
                    color: var(--white);
                }
        
                &.swiper-button-disabled {
                    color: var(--neutral-txt-low);
                    background-color: var(--neutral-hover-ui);
                }
            }
        }
    }
}

/* Swiper Thumb */
.swiper {
    &.swiper-list-images {
        .swiper-slide {
            cursor: pointer;
            aspect-ratio: 1 / 1;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 12px;
                content: '';
            }
            
            &-thumb-active {
                &::before {
                    border: 4px solid var(--primary);
                }
            }
        }
    }
}

/* Swiper pagination */
.slider-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 88px !important;
    width: 100%;
    max-width: 1350px;
    padding: 0 35px;

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background: #FCF6EC;
        backdrop-filter: blur(28px);
        opacity: 0.32;
        transition: width .3s ease, opacity .3s ease;

        &-active {
            width: 56px;
            opacity: 0.8;
        }
    }

    @media (max-width: 639px) {
        justify-content: center;
        bottom: 20px !important;
    }
}