/* header */
.navigator {
    background: rgba(252, 246, 236, 0.2);
    backdrop-filter: blur(28px);

    &.bg-transparent {
        background: transparent;
        backdrop-filter: unset;
    }

    >ul>li {
        >a {
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: var(--white);
                transition: all ease 0.3s;
            }

            &.active {
                &::before {
                    width: 100%;
                }
            }
        }

        &:hover {
            .sub-menu {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }

    .sub-menu {
        visibility: hidden;
        top: 100%;
        left: -14px;
        z-index: 1;
        border: 1px solid var(--primary);
        opacity: 0;
        transform: translateY(20px);
        transition: all ease 0.3s;
        pointer-events: none;

        &::before {
            position: absolute;
            top: -9px;
            left: 0;
            width: 100%;
            height: 9px;
            content: "";
        }

        li {
            &:hover {
                >.link {
                    background-color: var(--primary-hover-ui);
                }
            }

            >.link {
                &.active {
                    background-color: var(--primary-hover-ui);
                    font-weight: 600;
                }
            }
        }
    }
}

/* menu-mobile */
.menu-mobile {
    overflow: hidden;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1001;
    width: 100%;
    max-width: 295px;
    height: 100vh;
    padding: 8px;
    background-color: var(--neutral-txt-high);
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.4s;

    &.open {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    .nav-mobile {
        overflow-x: hidden;
        max-height: calc(100% - 72px);
    }

    .nav-item {
        >a {
            span,
            .ic-down {
                transition: .3s ease;
            }
        }

        &.open {
            >a {
                span {
                    font-weight: 600;
                    color: var(--neutral-txt-low);
                }

                .ic-down {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sub-nav-mobile {
        display: none;
    }
}