input,
textarea {
    outline: none;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: var(--primary);
}

.form-control-input {
    .form-control {
        &.error {
            .input-control {
                border-color: var(--error);
                background-color: var(--error-ui);
            }

            .text-guide {
                display: none;
            }

            .text-control,
            &~.text-control {
                display: block;
            }
        }
    }
}

.form-radio {
    input[type="radio"] {
        &:checked + label {
            background: var(--secondary-hover-ui);
            border-color: var(--secondary);
        }
    }
}

.form-date {
    input[type="date"] {
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }
}

.form-password {
    .btn-show-password {
        &.active {
            .ic-view {
                display: none;

                &-off {
                    display: block;
                }
            }
        }
    }
}