.heading_menu {
    overflow-x: auto;
    width: 100%;
    max-width: max-content;
}

.menu_tab {
    position: relative;
    overflow-x: auto;
    max-width: max-content;

    &.overflow-unset {
        overflow: unset;
    }

    &.max-w-none {
        max-width: none;
    }

    &.max-w-none {
        max-width: none;
    }

    .tab_btn {
        white-space: nowrap;

        &.-before {
            &.active {
                &::before {
                    width: 100%;
                }
            }
        }

        &.-fill {
            &.active {
                border-color: var(--black);
                background-color: var(--black);
                color: var(--white);
            }

            &.-fill-primary  {
                &.active {
                    border-color: var(--primary);
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
        }

        &.-bg {
            &.active {
                background-color: var(--background);
            }
        }

        &.-border {
            &.active {
                border-color: var(--primary);
            }
        }
    }
}

.tab_list {
    display: none;

    &.active {
        display: block;
    }
}

.list_link {
    .menu_tab {
        overflow: unset;

        .tab_btn {
            &.active {
                border-color: var(--primary);
            }
        }
    }
}

.form_register {
    .menu_tab {
        max-width: unset;
    }
}