.menu-tab {
    position: relative;
    overflow-x: auto;
    max-width: max-content;

    &.overflow-unset {
        overflow: unset;
    }

    &.max-w-none {
        max-width: none;
    }

    &.max-w-none {
        max-width: none;
    }

    &:has(.tab-btn.is-hover.active) {
        .tab-btn {
            filter: blur(3px);

            &.active {
                filter: blur(0px);
            }
        }
    }

    .tab-btn {
        text-align: left;
        
        &.-before {
            &.active {
                &::before {
                    width: 100%;
                }
            }
        }

        &.-fill {
            &.active {
                border-color: var(--black);
                background-color: var(--black);
                color: var(--white);
            }

            &.-fill-primary  {
                &.active {
                    border-color: var(--primary);
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
        }

        &.-bg {
            &.active {
                background-color: var(--background);
            }
        }

        &.-border {
            &.active {
                border-color: var(--primary);
            }
        }

        &.is-hover {
            transform-style: preserve-3d;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            filter: blur(0px);
        }
    }
}

.tab-list {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}