.select-block {
    position: relative;
    cursor: pointer;

    .selected {
        position: relative;
    }

    .menu {
        visibility: hidden;
        overflow: hidden;
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        z-index: 2;
        min-width: 280px;
        border: 1px solid var(--secondary);
        border-radius: 0.5rem;
        background-color: var(--white);
        opacity: 0;
        // transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease, left 0s 0.5s, right 0s 0.5s;
        transform: translateY(20px);
        transform-origin: top center;

        .list-option {
            overflow-x: hidden;
            max-height: 352px;
            padding: 0.5rem;
            
            &::-webkit-scrollbar {
                width: 0.25rem;
                background-color: var(--neutral-ui);
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: var(--neutral);
                border-radius: 100px;
            }
        }

        li {
            padding: 1rem 0.5rem;
            border-bottom: 1px solid var(--neutral-ui);
            color: var(--neutral-txt-high);
            text-align: left;
            white-space: nowrap;
            cursor: pointer;
            transition: 0.3s;

            &:last-child {
                border: none;
            }

            &:hover {
                background: var(--secondary-ui);
            }
        }

        &.open {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            // transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;

            &.center {
                left: 50%;
                transform: translate(-50%, 0);
            }

            &.right,
            &.fixed-right {
                right: 0;
                left: auto;
            }
        }

        .list-result {
            overflow-x: hidden;
            max-height: 200px;

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #c5c5c5;
                border-radius: 6px;
            }
        }
    }

    &.select-profile {
        .menu {
            border-color: var(--primary);
            
            li {
                &:hover {
                    background: var(--primary-hover-ui);
                }
            }
        }
    }
}

.category-selector {
    input {
        border: none;
    }

    .selected-category {
        display: inline-block;
        border: 1px solid var(--line);
        margin: 2px;
        padding: 3px 6px;
        border-radius: 6px;
        cursor: pointer;
    }

    .category-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        max-height: 150px;
        margin-top: 4px;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: #fff;
        overflow-y: auto;
    }

    .category-list li {
        padding: 8px 12px;
        cursor: pointer;
    }

    .category-list li:hover {
        background-color: #f0f0f0;
    }
}