.toastify {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1002;
    max-width: calc(100% - 32px);
    transform: translateY(100vh);
    transition: all .8s ease;

    &.active {
        transform: translateY(0);
    }

    @media (max-width: 767.98px) {
        bottom: 48px;
        right: 16px;
        width: 100%;
    }
}